*{
    margin: 0; padding: 0; box-sizing: border-box;

}.container2{
    background: #1E1E1E;
} header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F1D2B;
    height: 112px;

    width: 100%;

}

.container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1400px;
   width: 100%;
}.menu ul {
    display: flex;
    align-items: center;
    gap: 40px;
} .menu ul li {
    list-style: none;
} .menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
} .button-one{
    padding: 10px;
    background: #C919B9;
    border-radius: 6px;
}
 .text1{
   margin-left: 40px; 
} .contact{
    width: 145px;
    height: 40px;
    background: #C919B9;
    border-radius: 6px;
    margin-left: 40px;
    margin-right: 126px;
    margin-top: -7px;
    border: none;
    color: white;
    font-size: 24px;
font-weight: 500px;

} .text2{
    margin-left: 45px;
    margin-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    
}.square1{
   width: auto;
   height: auto;
   margin-top: 53px;

   border-radius: 15px;

} .categorie{
color: #7B7B7B;
font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 60px;

} .texts {
    color: white;
    flex-direction: column;
    font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
}.title{
    color: #7B7B7B;
    margin-top: 6px;
    display: flex;
} .title2{
    font-weight: 700px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
} .title3{
    color: #7B7B7B;
    font-weight: 300px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

} .image1{
    width: 426px;
    height: 247px;
} .image2{
    width: 426px;
    height: 247px;
    margin-left: 30px;

} .image3{
    width: 426px;
    height: 247px;
    margin-left: 30px;
} #div-container-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-top: 162px;
    width: 1340px;
    height: 694.35px;
}
.img_set {
    border-radius: 8.73px;
}
.h1_set {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    margin-top: 7px;
}
.span_set {
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #7b7b7b;
}
.div-three {
    display: flex;
}
.span-one {
    margin-left: 10px;
    font-size: 12px;
}
.h3_set {
    font-size: 12px;
    color: #C919B9;

} .titlesofimage11{
    display: flex;
    flex-direction: row;
    color: #7B7B7B;

} .titlesofimage22{
    font-weight: 700px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}.titlesofimage33{
    font-weight: 300px;
    font-size: 12px;
    color: #7B7B7B;
    font-family: Arial, Helvetica, sans-serif;

} .titleofimages2{
   margin-left: 463px;
   margin-top: -65px;
} .titlesofimage111{
    display: flex;
    flex-direction: row;
    color: #7B7B7B;

} .titlesofimage222{
    font-weight: 700px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}.titlesofimage333{
    font-weight: 300px;
    font-size: 12px;
    color: #7B7B7B;
    font-family: Arial, Helvetica, sans-serif;

} .titleofimages3{
   margin-left: 920px;
   margin-top: -70px;
   justify-content: center;
   
} .image11{
    width: 426px;
    height: 247px;
    margin-top: 39.65px;
} .image22{
    width: 426px;
    height: 247px;
    margin-left: 30px;
    margin-top: 39.65px;
} .image33{
    width: 426px;
    height: 247px;
    margin-left: 30px;
    margin-top: 39.65px;
} .container5{
    margin-top: 156.65px;
    width: 1112px;
    height: 400px;
    border-radius: 8.73px;
    background: white;
margin: auto;

    
} .textemail{
margin-top: 60px;
font-weight: 700px;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 0px;
margin-left: 89px;
} .input{
margin-top: 50px;
   width: 944px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   font-size: 24px;
   margin-left: 35px;
} .checkbox{
    margin-left: 175px;
    margin-top: 18px;
} .textcheckbox{
    color: #7B7B7B;
    font-weight: 300px;
    font-size: 13px;
    margin-left: 190px;
    margin-top: -18px;
} .button{
    width: 141px;
    height: 40px;
    border-radius: 6px;
    background: #C919B980;
    margin-top: 30px;
    font-weight: 500px;
    font-size: 24px;
    color: white;
    margin-left: 437px;
    border: none;

} .container3{
    margin-top: 159px;
    width: auto 1440px;
    height: 366px;
    background: #1F1D2B;
display: flex;
justify-content: space-around;
} .name{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700px;
    font-size: 40px;
    line-height: 50.4px;
    margin-top: 83px;
} .paragraph{
    color: #7B7B7B;
width: 770px;
height: 135px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300px;
    font-size: 24px;

}.texts{
    display: flex;
    flex-direction: column;
    margin-top: 40.25px;
}.group1{
margin-left: 0px;
width: 85px;
    height: 23px;
} .container4{
    width: auto;
    height: 116px;
    background: #000000;
    text-align: center;

} .logo1{
text-align: center;
margin: auto;
} #all-grid-up{
    display: flex;
    justify-content: space-around;
    margin: auto;


} 



@media(max-width: 600px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } .menu ul{
        gap: 10px;
        align-items: center;
    } .menu ul li a{
        font-size: 20px;
    
    } .button-one{
        padding: 3px;
    } .square1{
        width: 100%;
    } .title2{
        font-size: 15px;
        font-weight: 700;
    }.title3{
        font-size: 12px;
        font-weight: 300;
    } .categorie{
        font-size: 10px;
    } .img_set{
        width: 270px;
        margin-top: 30px;
    } #div-container-three{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    } .h1_set{
        font-size: 15px;
    } .span_set{
        font-size: 10px;
    } .div-three{
        display: flex;
        justify-content: center;
    } .container5{
        width: 100%;
        height: 100%;

    } .textemail{
        margin-top: 15px;
        margin-left: 0px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }.input{
        margin-left: 0px;
        width: 100%;
    }.checkbox{
        margin-left: 0px;

    }.textcheckbox{
        font-weight: 300;
    }.button{
        margin-left: 0px;
    }.container3{
        height: 100%;
        display: flex;
        justify-content: space-around;
    }.name{
        font-weight: 700;
        line-height: 30.4px;
font-size: 23px;
    }.paragraph{
        font-size: 17px;
        width: 100%;
        height: 100%;
    } .texts{
        font-size: 24px;
    } .blog{
        font-size: 14px;
    }.Sobre{
        font-size: 14px;
    }.proposta{
        font-size: 14px;
    }
}
