*{
    margin: 0;

}.container2{
    background: #1E1E1E;
}

.container{
    width: auto;
    height: 112px;
background: #1F1D2B;
display: flex;
justify-content: space-around;
} .logo{
   margin-top: 22.03px;
   margin-left: 50px;
   margin-bottom: 42.14px;
} .objectsofheader{
display: flex;
flex-direction: row;
    margin-left: auto;
    margin-top: 39px;
    justify-content: space-around;
    color: white;
} .group{
    width: 85px;
    height: 23px;
    padding-left: 40px;
    padding-top: -2px;
} .text1{
   margin-left: 40px; 
} .contact{
    width: 145px;
    height: 40px;
    background: #C919B9;
    border-radius: 6px;
    margin-left: 40px;
    margin-right: 126px;
    margin-top: -7px;
    border: none;
    color: white;
    font-size: 24px;
font-weight: 500px;

} .text2{
    margin-left: 45px;
    margin-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    
}.square1{
   width: auto;
   height: auto;
   margin-top: 53px;

   border-radius: 15px;

} .categorie{
color: #7B7B7B;
font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 60px;

} .texts {
    color: white;
    flex-direction: column;
    font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
}.title{
    margin-top: 6px;
    display: flex;
} .title2{
    font-weight: 700px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
} .title3{
    color: #7B7B7B;
    font-weight: 300px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

} .image1{
    width: 426px;
    height: 247px;
} .image2{
    width: 426px;
    height: 247px;
    margin-left: 30px;

} .image3{
    width: 426px;
    height: 247px;
    margin-left: 30px;
} #div-container-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-top: 162px;
    width: 1340px;
    height: 694.35px;
}
.img_set {
    border-radius: 8.73px;
}
.h1_set {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    margin-top: 7px;
}
.span_set {
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #7b7b7b;
}
.div-three {
    display: flex;
}
.span-one {
    margin-left: 10px;
    font-size: 12px;
}
.h3_set {
    font-size: 12px;
}.carrier{
    color: #C919B9;
} .titlesofimage11{
    display: flex;
    flex-direction: row;
    color: #7B7B7B;

} .titlesofimage22{
    font-weight: 700px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}.titlesofimage33{
    font-weight: 300px;
    font-size: 12px;
    color: #7B7B7B;
    font-family: Arial, Helvetica, sans-serif;

} .titleofimages2{
   margin-left: 463px;
   margin-top: -65px;
} .titlesofimage111{
    display: flex;
    flex-direction: row;
    color: #7B7B7B;

} .titlesofimage222{
    font-weight: 700px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}.titlesofimage333{
    font-weight: 300px;
    font-size: 12px;
    color: #7B7B7B;
    font-family: Arial, Helvetica, sans-serif;

} .titleofimages3{
   margin-left: 920px;
   margin-top: -70px;
   justify-content: center;
   
} .image11{
    width: 426px;
    height: 247px;
    margin-top: 39.65px;
} .image22{
    width: 426px;
    height: 247px;
    margin-left: 30px;
    margin-top: 39.65px;
} .image33{
    width: 426px;
    height: 247px;
    margin-left: 30px;
    margin-top: 39.65px;
} .container5{
    margin-top: 156.65px;
    width: 1112px;
    height: 400px;
    border-radius: 8.73px;
    background: white;
margin: auto;

    
} .textemail{
margin-top: 60px;
font-weight: 700px;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 0px;
margin-left: 89px;
} .input{
margin-top: 50px;
   width: 944px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   font-size: 24px;
   margin-left: 35px;
} .checkbox{
    margin-left: 175px;
    margin-top: 18px;
} .textcheckbox{
    color: #7B7B7B;
    font-weight: 300px;
    font-size: 13px;
    margin-left: 190px;
    margin-top: -18px;
} .button{
    width: 141px;
    height: 40px;
    border-radius: 6px;
    background: #C919B980;
    margin-top: 30px;
    font-weight: 500px;
    font-size: 24px;
    color: white;
    margin-left: 437px;
    border: none;

} .container3{
    margin-top: 159px;
    width: auto 1440px;
    height: 366px;
    background: #1F1D2B;
    justify-content: space-between;
} .name{
    margin-top: -170px ;
    margin-left: 163px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700px;
    font-size: 40px;
    line-height: 50.4px;
} .paragraph{
    margin-left: 163px;
    color: #7B7B7B;
width: 770px;
height: 135px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300px;
    font-size: 24px;
    margin-top: 6px;

} .social{
    margin-left: 1117px;
    margin-top:43.25px;
} .texts{
    display: flex;
    flex-direction: column;
    margin-left: 1117px;
}.group1{
margin-left: 0px;
width: 85px;
    height: 23px;
} .container4{
    width: auto;
    height: 116px;
    background: #000000;
} .logo1{
   padding: 34px 636px 34.17px 591.56px ;
} #all-grid-up{
    display: flex;
    justify-content: space-around;
    margin: auto;


}